  
  <div class="container">
   <div class="logo-container">
      <a href="">
        <div class="name"><p>BJIS</p></div>
        <div class="company"><i>airline</i></div>
      </a>
    </div>
    <div class="navbar-container">
      <a href="">
        <div class="item">Flights</div>
      </a>
      <a *ngIf="userExists === 'false'" routerLink="register">
        <div class="item">Register</div>
      </a>
      <a routerLink="/my-flights" *ngIf="role === 'ROLE_REGULAR'">
        <div class="item">My reservations</div>
      </a>
      <a *ngIf="role === 'ROLE_ADMIN'">
        <div class="item">Create flight</div>
      </a>
      <a routerLink="login"  *ngIf="userExists === 'false'">
        <div class="item-active"> Log in</div>
      </a>
      <a href=""  *ngIf="userExists === 'true'" (click)="logout()">
        <div class="item-loged"><mat-icon> person_pin</mat-icon>Log out</div>
      </a>
    </div>
  </div>
