.container{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #234e70;
  position: fixed;
  z-index: 10;
}
.navbar-container{
    display: flex;
    justify-content: flex-end;
    background-color: #234e70;
    height: 80px;
    width: 80%;
}

.logo-container{
    width: 300px;
    background-color: #234e70;
    flex-direction: column;
}

.name{
    color: white;
    font-size: 22px;
    margin-left: 100px;
    margin-top: 10px;
    letter-spacing: 5px;
    height: 20px;
}

.company{
    color: white;
    font-size: 12px;
    margin-left: 120px;
    margin-top: 0px;
}

.item, .item-active{
    color: white;
    font-size: 15px;
    margin-right: 60px;
    margin-top: 20px;
    z-index: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.item:hover:not(.active) {
    cursor: pointer;
    text-decoration: underline;
}

a{
    text-decoration: none;
    height: 50px;
}

.item-active{
    background-color:  #f5a30a; 
    border-radius: 2px; 
    width: 60px;
    height: 30px;
}

.item-active, .item-loged:hover{
    text-decoration: underline;
}

.item-loged{
    border-radius: 2px; 
    width: 80px;
    height: 30px;
    color: white;
    margin-right: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
