.register-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.text-container{
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
  }

.form-container{
    width: 60%;
    height: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.data-container{
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex-direction: row;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10%;
}

.checkbox-terms{
    color: #f5a30a !important;
    margin-left: 85px;
}

.signup-btn{
    width: 33%;
    margin-top: 2rem;
    background-color:  #f5a30a; 
    border-radius: 5px; 
    height: 35px;
    color: white;
    margin-left: 90px;
}

.signup-btn:hover{
    cursor: pointer;
}

.left-data-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-data-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text-input{
    width: 80%;
    height: 35px;
    border-radius: 5px;
  }

  .form-label{
    width: 50%;
    height: 25px;
    margin-top: 5px;
  }

  h2{
    margin-left: 100px;
  }