<div class="centered-content">
    <div class="search-wrapper">
      <div class="filter-div">
        <mat-form-field appearance="outline">
          <mat-label>Departure place</mat-label>
          <mat-select matInput [(ngModel)]="flightFilter.departurePlace">
            <mat-option value="BELGRADE">BELGRADE</mat-option>
            <mat-option value="LONDON">LONDON</mat-option>
            <mat-option value="PARIS">PARIS</mat-option>
            <mat-option value="OSLO">OSLO</mat-option>
            <mat-option value="TIVAT">TIVAT</mat-option>
            <mat-option value="MOSCOW">MOSCOW</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Landing place</mat-label>
          <mat-select matInput [(ngModel)]="flightFilter.landingPlace">
            <mat-option value="BELGRADE">BELGRADE</mat-option>
            <mat-option value="LONDON">LONDON</mat-option>
            <mat-option value="PARIS">PARIS</mat-option>
            <mat-option value="OSLO">OSLO</mat-option>
            <mat-option value="TIVAT">TIVAT</mat-option>
            <mat-option value="MOSCOW">MOSCOW</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field color="warn" appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="Take of date"
          (dateInput)="addEvent('input', $any($event))" (dateChange)="addEvent('change', $any($event))">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>    
        <mat-form-field appearance="outline">
          <mat-label>Number of passengers</mat-label>
          <input type="number" id="quantity"
            min="0"
            aria-label="Number"
            matInput
            [(ngModel)]="flightFilter.passengers">
        </mat-form-field>         
      </div>
      <input type="submit" value="Search" class="search-button" [disabled]="!flightFilter.passengers" (click)="getFilteredFlights()">
    </div>

    <div class="cards">
      <mat-card *ngFor="let flight of flights" class="flight-card">
        <mat-card-title class="flight-title">
          {{flight.departurePlace}} - {{flight.landingPlace}}
          <div class="tag">
            <mat-icon fontIcon="euro_symbol" class="icon"></mat-icon>
            <span>{{flight.ticketPrice}}</span>
          </div>
        </mat-card-title>
        <mat-card-subtitle class="flight-subtitle">
          <mat-icon fontIcon="flight_land" class="icon"></mat-icon>
          {{flight.takeOfDate | date: "MM-dd-yyyy HH:MM"}} 
          <br/> 
          <mat-icon fontIcon="flight_takeoff" class="icon"></mat-icon>
          {{flight.landingDate | date: "MM-dd-yyyy HH:MM"}}
        </mat-card-subtitle>
        <mat-card-content>
          <p class="flight-subtitle"><mat-icon fontIcon="airline_seat_recline_extra" class="icon"></mat-icon> {{flight.availableSeatsNumber}}</p>
          <div *ngIf="totalPassengers"> 
            Price for {{totalPassengers}} passengers: {{totalPassengers*flight.ticketPrice}} €
          </div>
        </mat-card-content>
        <mat-card-footer><hr><button class="check-out-button">See details</button></mat-card-footer>
      </mat-card>
      <div *ngIf="!flights.length" class="no-flights">
        No flights found!
      </div>
    </div>
  </div>